<div class="blog-post">
    <a href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}" class="img_center" alt="">
        <h2 class="blog-post-title">{{ post.title }}</h2></a>
        <p class="blog-post-meta">Post created: {{ post.time_creation }} by {{ request.user.author.name }}</p>
        <p class="blog-post-meta">Last update: {{ post.time_last_update }} </p>


        <hr>

        {{ post.description }}


    <br>
    {% if request.user.is_authenticated %}
    <a style="{display: contents;}" class="btn btn-sm btn-outline-secondary"
       href="{% url 'update_post' post.id %}">Update</a>
    <a onclick="return confirm('Are you sure you want to delete this post?');" style="{display: contents;}" class="btn btn-sm btn-outline-secondary"
       href="{% url 'delete_post' post.id %} ">Delete</a>
    {% endif %}
    <hr>
</div>
